<div class="container m-4">
  <h5>Trả lời câu hỏi trắc nghiệm</h5>
  <div *ngFor="let question of questions; let i = index">
    <p-panel
      [toggleable]="true"
      [collapsed]="isCollapsed"
    >
    <ng-template pTemplate="header">
      <div>
        <i
          class="pi pi-check"
          style="font-size: 1rem; color: rgb(6, 206, 6); font-weight: bold"
          *ngIf="answerSelected[i] > 0"
        ></i>
       <span>Câu số {{ i + 1 }} : {{question.question}} </span>
      </div>
    </ng-template>
      <ng-template pTemplate="icons"> </ng-template>
      <div
        *ngFor="let answer of question.answers; let j = index"
        class="p-field-checkbox"
      >
        <p-radioButton value="{{ j + 1 }}" [(ngModel)]="answerSelected[i]">
        </p-radioButton>
        <div class="ml-4 d-inline" style="margin-left: 20px">
          <label>{{ answer }}</label>
        </div>
      </div>
    </p-panel>
  </div>
  <div class="container mt-4">
    <button
      pButton
      pRipple
      type="button"
      label="Nộp bài"
      class="p-button-raised p-button-success w-100"
      (click)="submitAnswer()"
    ></button>
  </div>
</div>

<p-dialog
  header="Header"
  [(visible)]="isDisplayResult"
  [style]="{ width: '50vw' }"
>
  <p>Your result success is : {{ markOfTest | percent }}</p>
</p-dialog>

<p-toast></p-toast>
